<div class="lobby mainview">
  <div class="table-wrap">
    <table class="lobbytable table table-striped table-condensed">
      <thead>
	<tr>
	  <th>Game name</th>
	  <th>Players</th>
	  <th>Scored?</th>
	  <th>Locked</th>
	  <th>Playing</th>
	  <th></th>
	</tr>
      </thead>    
      <tbody>
	{{#each game in games}}
	  {{lobby-game game=game}}
	{{/each}}
      </tbody>
    </table>
  </div>
  <div class="paging">
    <button class="pager previous-page" {{action 'previous-page'}}><span class="previous">&#9664;</span></button>
    <div class="pages">
      {{#each page in firstpages}}
	{{#link-to 'lobby' (query-params page=page) class="page"}}{{page}}{{/link-to}}
      {{/each}}	
      {{#if middlepages}}
	...
	{{#each page in middlepages}}
	  {{#link-to 'lobby' (query-params page=page) class="page"}}{{page}}{{/link-to}}
	{{/each}}	
      {{/if}}
      {{#if lastpages}}
	...
	{{#each page in lastpages}}
	  {{#link-to 'lobby' (query-params page=page) class="page"}}{{page}}{{/link-to}}
	{{/each}}	
      {{/if}}
    </div>
    <button class="pager next-page" {{action 'next-page'}}><span class="next">&#9654;</span></button>
  </div>
  <button class="new-game btn btn-primary" {{action 'new-game'}}><span class="new">new game</span></button>
  {{outlet}}
</div>

