<td>{{game.name}}</td>
<td>{{game.players}}</td>
<td>{{yes-no game.scored}}</td>
<td>{{yes-no game.locked}}</td>
<td>{{yes-no game.playing}}</td>
<td class="join-column"><button class="btn btn-success" {{action 'join'}}>join</button></td>
